<nav class="navbar navbar-expand navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="row w-100 align-items-center">
			<div id="navbar-front" class="col-8 offset-0">
				<ul class="navbar-nav d-flex flex-row justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'index' %}">home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'form_schema' %}">form/scheme</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'list_issues' %}">issues</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'list_categories' %}">categories</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'list_courses' %}">courses</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'course_register' %}">zapis na kurs</a>
					</li>

					{% if user.is_authenticated %}
					<li class="nav-item">
						<a href="{% url 'panel' %}" class="nav-link" id="oferta">panel
							oferta</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div id="navbar-back" class="col-4 offset-0">
				<ul class="navbar-nav d-flex flex-row justify-content-end">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" id="username_navbar">zalogowany: {{user}}</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link" id="logout-link">logout</a>
					</li>
					{% else %}
					<li class="nav-item me-3">
						<a class="nav-link" href="{% url 'login' %}">login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">register</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<!-- Logout Form -->
	<form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
		{% csrf_token %}
	</form>
</nav>

<script>
	document.getElementById('logout-link').addEventListener('click', function (e) {
		e.preventDefault();
		document.getElementById('logout-form').submit();
	});
</script>
