{% extends 'base.html' %}

{% block content %}
<div class="align-center col-8 offset-2">
	<p class="lead mb-3 ml-0">Register for Course</p>
	<hr />
	<form method="POST" action="{% url 'course_register' %}" autocomplete="off">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% for field in form %}
		<div class="form-group mb-3">
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field }}
			{% if field.errors %}
			<div class="text-danger">{{ field.errors|striptags }}</div>
			{% endif %}
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-success mt-2">Register</button>
	</form>
</div>
{% endblock content %}
